$primaryFontFamily: "Roboto", sans-serif;
$primaryBg: #ffffff;
$primaryFontColor: #212121;
$primaryTextIconColor: #ffffff;
$primaryHeaderFooterBg: #2f303a;

$primaryButBgColor: #2196f3;
$primaryButFontWeight: 700;
$primaryButFontSize: 16px;
$primaryButLineHeight: 1.9;
$primaryButLetterSpacing: 0.06em;
$primaryButBorderRadius: 4px;

$secondaryButColor: #f5f4fa;

$logostudioColor: #ffffff;
$logowebColor: #2196f3;

$linkTextDecoration: none;
$hoverfocusactiveColor: #2196f3;

$hederFontWeight: 500;
$headerFontSize: 14px;
$heaaderIconFillColor: #afb1b8;

$globalTransitionDuration: 250ms;
$globalTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$globalFontDescriptionColor: #757575;
